@page
@model TMovies.Pages.ActorDetailsModel
@{
    ViewData["Title"] = "ActorDetails";
}

<h1>@Model.ActorInfo.Name</h1>
<br />
<p>BirthDate : @Model.ActorInfo.Birthdate</p>
<p>Age : @Model.ActorInfo.Age</p>

