@page
@model TMovies.Pages.DetailsModel
@{
    ViewData["Title"] = "Details";
}

<h1>@Model.movie.Title</h1>
<br />
<p>Release Date: @Model.movie.Release</p>
<p>Description: @Model.movie.Description</p>
<p>Name: @foreach (var actor in Model.actors)
{
    <p>@actor.Name</p>
}
</p>

